.capitalize{
  text-transform: capitalize;
}
table{
  width: 80%;
}
.postto{
  width: 300px;
  margin: 5px 5px;
  padding: 16px;
  float: left;
  /*display: inline-block;*/
  display: none;
}
.form-group{
  display: inline-block;
}

.video-view{
  margin-bottom: 10px;
  padding: 10px;
  height: 65px;
}

label{
  padding-bottom: 10px;
}

.apis-list{
  display: inline-block;
  margin-top: 20px;
}

.connected-api{
  margin-left: 100px;
}

.w3-modal-content{
    /*width: 150px;*/
    max-height: 500px;
    overflow: scroll;
}

#first>option{
  text-transform: capitalize;
  padding-left: 10px;
}

.postto{
}
#loaderIcon{
  display:none;
  width:70px;
  height:70px;
  background-color: transparent;
}