
<main role="main" style="margin-top:20px;">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="form-group div-inline">
                <label for="first">SELECT SITE</label>
                <select name='from_site' id="first" class="form-control" role="listbox">
                    <option value="0" selected="selected">Select Option</option>
                </select>
            </div>
            <div  class="form-group div-inline">
                <label for="second">Select Account</label>
                <select name='from_accnt' id="second" class="form-control" role="listbox" disabled="disabled">
                    <option value="0" selected="selected">Select Option</option>
                </select>
            </div>
        </div>
    </div>
    <h1 id='name'> </h1>
</main>