<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <header class="w3-container w3-teal">
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-closebtn"><span style="font-size:15px"><sub>continue</sub></span></span>
      <h4>SELECT VIDEOS</h4>
    </header>


    <div id='video-modal' class="w3-container">
<!--  
     <div class="w3-card-2 video-view">
        <label class="checkbox-inline">
           <input type="checkbox" value="">Video
        </label>
      </div>
 -->
      
      
    </div>
    <footer class="w3-container w3-teal">
      <p>Modal Footer</p>
    </footer>
  </div>
</div>