
   <div id='youtube-card' class="w3-card-16 postto" style="display:none">
        <center><strong>Youtube</strong></center>
  </div>
  &nbsp;
  <div id='facebook-card' class="w3-card-16 postto" style="display:none">
        <center><strong>Facebook</strong></center>
   </div>
   &nbsp;
  <div id='dailymotion-card' class="w3-card-16 postto" style="display:none">
        <center><strong>Dailymotion</strong></center>
  </div>

  <br/>